


h1{
  color: red;  
}



 p .immune_deficiency_text{
  color: #000000;
  font-family: StagSans;
  font-size: 14px;
  line-height: 21px;
  width: 198px;
  text-align: left;
  
}



//warning section
body > div.sectionsix > details:nth-child(1) > summary{
  list-style-type: none;
}